<div class="pk-flex pk-items-center pk-justify-between pk-border-b pk-border-neutral-200 pk-pb-2 pk-mb-5 max-md:pk-flex-col" [ngClass]="{'sticky-toolbar': showStickyToolbar}">
    <div class="pk-flex pk-gap-3 pk-items-center">
        @if (showBackBtn()) {
        <button (click)="backToPre()" class="pk-border pk-border-neutral-300 pk-w-12 pk-h-12 pk-flex pk-items-center pk-justify-center pk-rounded-full 
        pk-bg-white print:pk-hidden">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        }
        <h4 class="pk-font-bold pk-m-0" [innerHTML]="pageName()"></h4>
    </div>
    
    <ng-content></ng-content>
</div>