<ul class="flex-center sd-gap-5 max-md:sd-flex-col">
    <li>
        <a (click)="userService.toggleMenu = false" routerLink="/admin/home" [routerLinkActive]="'active'">{{'mainMenu.home' | translate}}</a>
    </li>
    <li>
        <a (click)="userService.toggleMenu = false" routerLink="/admin/category/list"  [routerLinkActive]="'active'">{{'mainMenu.categories' | translate}}</a>
    </li>
    <li>
        <a (click)="userService.toggleMenu = false" routerLink="/admin/lesson/list"  [routerLinkActive]="'active'">{{'mainMenu.lessons' | translate}}</a>
    </li>
    <li>
        <a (click)="userService.toggleMenu = false" routerLink="/admin/courses/list"  [routerLinkActive]="'active'">{{'mainMenu.courses' | translate}}</a>
    </li>
</ul>