<app-breadcrumb [pageName]="pageName" [isSticky]="true" [showBackBtn]="false">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" (keyup)="onSearch($event)" matInput>
    </mat-form-field>
</app-breadcrumb>

<div class="pk-w-full pk-overflow-auto">

    <div class="pk-grid auto-grid pk-gap-5">
        @for (pokemon of pokemonList; track $index) {
        @if(!pokemon.hidden){
            <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
        }
        }
    </div>

    @if(totalElements > pokemonList.length){
    <div class="pk-text-center pk-my-8">
        <button mat-button (click)="loadMorePokes()" class="!pk-h-16 !pk-px-6">
            <div class="pk-flex pk-flex-col pk-items-center pk-gap-1">
                <mat-icon>arrow_downward</mat-icon>
                <div>Load More</div>
            </div>
        </button>
    </div>}
</div>