<ng-container *ngIf="userProfile">
    <button mat-button [matMenuTriggerFor]="menu">
        <div class="sd-text-white flex-center sd-gap-1">
            <small>{{'common.welcome' | translate}},</small>
            <strong>{{userProfile.name}}</strong>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="userProfile.role === userRoles.admin" [matMenuTriggerFor]="adminMenu">
            <mat-icon>settings</mat-icon>
            {{'mainMenu.administrator' | translate}}
        </button>
        <button routerLink="/admin/user/profile" mat-menu-item>
            <mat-icon>personal</mat-icon>
            {{'mainMenu.profile' | translate}}
        </button>
        <mat-divider></mat-divider>
        <button (click)="authService.logout()" mat-menu-item>
            <mat-icon>logout</mat-icon> {{'common.logout' | translate}}
        </button>
    </mat-menu>
    <mat-menu #adminMenu="matMenu">
        <button mat-menu-item routerLink="/admin/question/form/create">{{'mainMenu.createQuestion' |
            translate}}</button>
        <button mat-menu-item routerLink="/admin/category/form/create">{{'mainMenu.createCategory' |
            translate}}</button>
        <button mat-menu-item routerLink="/admin/user/list">{{'mainMenu.users' | translate}}</button>
    </mat-menu>
</ng-container>
<ng-container *ngIf="!userProfile">
    <ul class="flex-center sd-text-white sd-gap-3">
        <li>
            <button routerLink="/auth/login" mat-flat-button> 
                <mat-icon>login</mat-icon>
                {{'user.login' | translate}}
            </button>
        </li>
        <li>|</li>
        <li>
            <button routerLink="/auth/register" mat-flat-button>
                <mat-icon>person_add_alt</mat-icon>
                {{'user.signUp' | translate}}
            </button>        
        </li>
    </ul>
</ng-container>